Source: libicd-network-wpasupplicant
Section: net
Priority: optional
Maintainer: Jukka Rissanen <jukka.rissanen@nokia.com>
Build-Depends: debhelper (>= 4.0.0), icd2-dev (>= 0.87+fremantle7),
 icd2-osso-ic-dev (>=0.37), libosso-dev (>= 1.11-1),
 libglib2.0-dev (>= 2.8.6-1osso5),  autotools-dev, libmaemosec-certman-dev,
 libdbus-glib-1-dev (>= 0.61-osso11), libgconf2-dev (>= 2.6.4.14-osso2),
 libconnui-dev, libexpat1-dev, libwpa-client-dev
Standards-Version: 3.6.2

Package: libicd-network-wpasupplicant
Section: net
Architecture: any
Depends: icd2 (>= 0.55), ${shlibs:Depends}, icd2-network-wpasupplicant-config, libicd-network-ipv4
Description: ICd2 plugin for WLAN networking
 The WLAN plugin for ICd2 that provides WLAN networking

Package: libicd-network-wpasupplicant-dbus-common
Section: net
Architecture: any
Conflicts: libicd-network-wpasupplicant-dbus-n900
Depends: icd2 (>= 0.55), ${shlibs:Depends}, icd2-network-wpasupplicant-config, libicd-network-ipv4
Description: DBus service for wpa supplicant
 The DBus service for starting wpa_supplicant (common devices)

Package: libicd-network-wpasupplicant-dbus-n900
Section: n900
Architecture: any
Conflicts: libicd-network-wpasupplicant-dbus-common
Depends: icd2 (>= 0.55), ${shlibs:Depends}, icd2-network-wpasupplicant-config, libicd-network-ipv4
Description: DBus service for wpa supplicant
 The DBus service for starting wpa_supplicant (Nokia N900)

Package: libicd-network-wpasupplicant-dev
Section: devel
Architecture: any
Depends: libicd-network-wpasupplicant (= ${binary:Version}), icd2-dev (>= 0.87+fremantle7),
Description: Header file which contains wlan capability and icd attribute
 handling functions.

Package: icd2-network-wpasupplicant-config
Section: net
Architecture: any
Depends: ${misc:Depends}, icd2 (>= 0.2)
Description: WLAN networking components configuration
 The WLAN plugin configuration pkg that is needed by wpasupplicant network
 module (this is the schema file containing wpasupplicant
 and ipv6 module configuration)
